@page "/"

<div id="page-top">
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <AboutComponent/>

    <!-- Projects Section -->
    <ProjectCollectionComponent FeaturedProject="FeaturedProject" OtherProjects="OtherProjects" />

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">

                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

                    <form class="form-inline d-flex">
                        <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <ContactComponent/>    
</div>

@code {
    private FeaturedProjectComponent FeaturedProject;
    private List<ProjectComponent> OtherProjects;

    protected override Task OnInitializedAsync()
    {
        FeaturedProject = new FeaturedProjectComponent("Project Title passed via Constructor", "This is the description of a featured Project. Please read carefully.");

        OtherProjects = new List<ProjectComponent>();
        OtherProjects.Add(new ProjectComponent("Project One Title", "Project One Description", false, "img/demo-image-01.jpg"));
        OtherProjects.Add(new ProjectComponent("Project Two Title", "Project Two Description", true, "img/demo-image-02.jpg"));

        return base.OnInitializedAsync()-
    }
}
