@page "/"
@using Website.Data.Models

<div id="page-top">
    <!-- Software Section -->
    <ProjectCollectionComponent FeaturedProject="FeaturedSoftwareProject" OtherProjects="OtherSoftwareProjects" Id="software" Title="My Software Projects" />

    <!-- Music Section -->
    @* <ProjectCollectionComponent FeaturedProject="FeaturedProject" OtherProjects="OtherSoftwareProjects" id="music"/> *@

    @* <ContactComponent/>*@

</div>

@code {
    private FeaturedProjectComponent FeaturedSoftwareProject;
    private List<ProjectComponent> OtherSoftwareProjects;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            FeaturedSoftwareProject = new FeaturedProjectComponent("Featured Software Project", "This is the description of a featured Project. Please read carefully.");
            List<Repository> repos = await new GitHubWrapper("Lucky2114").GetUserRepositories();

            OtherSoftwareProjects = new List<ProjectComponent>();
            foreach (var repo in repos)
            {
                OtherSoftwareProjects.Add(new ProjectComponent(repo.Name, repo.Description));
            }
            this.StateHasChanged();
        }
    }
}