<a href="#" class="list-group-item list-group-item-action flex-column align-items-start featured-project-item">
    <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">@ProjectTitle</h4>
    </div>
    <h5 class="mb-1">@ProjectDescription</h5>
</a>


@code {
    public FeaturedProjectComponent() { } //empty constructor is needed
    public FeaturedProjectComponent(string projectTitle, string projectDescription)
    {
        ProjectTitle = projectTitle;
        ProjectDescription = projectDescription;
    }

    [Parameter]
    public string ProjectDescription { get; set; }

    [Parameter]
    public string ProjectTitle { get; set; }
}