<div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
            <h4>@ProjectTitle</h4>
            <p class="text-white-50 mb-0">@ProjectDescription</p>
        </div>
    </div>
</div>


@code {
    public FeaturedProjectComponent() { } //empty constructor is needed
    public FeaturedProjectComponent(string projectTitle, string projectDescription)
    {
        this.ProjectTitle = projectTitle;
        this.ProjectDescription = projectDescription;
    }

    [Parameter]
    public string ProjectDescription { get; set; }

    [Parameter]
    public string ProjectTitle { get; set; }
}