<a href="#" class="list-group-item list-group-item-action flex-column align-items-start project-item">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@ProjectTitle</h5>
    </div>
    <p class="mb-1">@ProjectDescription</p>
</a>


@code {

    public ProjectComponent()
    {
    }

    public ProjectComponent(string ProjectTitle, string ProjectDescription)
    {
        this.ProjectTitle = ProjectTitle;
        this.ProjectDescription = ProjectDescription;
    }

    //Keep them public because the component is created dynamically as well as in markup
    [Parameter]
    public string ProjectTitle { get; set; }

    [Parameter]
    public string ProjectDescription { get; set; }

    [Parameter]
    public bool TextRight { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

}